<div class="col-xs-10 col-xs-offset-1 about-content">
  <section class="about-splurty">
    <h1 class="about-title">About Splurty</h1>
      <p> Splurty was created by <a href="https://github.com/djoleary007" target="_blank">Devin O'Leary</a> as the inagural Firehose Project, project...</p>
      <p> Splurty is a quote generator that uses the universe, and some ruby on rails, to plant the perfect quote on your
        computer screen. It also recieves quotes from users, storing them into a database to be recalled later.</p>
  </section>
  <div class="col-xs-12 col-sm-7 col-md-4">
    <%= image_tag 'Devin.jpg', class: 'image-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-5 col-md-7 col-md-offset-1">
    <h2 class="center">Devin O'Leary</h2>
      <p>Devin is a exercise scientist turned full-stack web developer. He guided cycling trips with Trek Travel for 2 years,
    discovering his love for the world and technology in his travels. Now, he's using technology to change the way we interact
  with nature, to make us all more conscious of the world around us.</p>
  </div>
</div>
