<div class="quote-container">
  <h3 class="col-xs-12">
    <span>Splurty / No. <%= @quote.id %></span>
    Here is the <u>Exact</u> quote you were looking for!!
  </h3>
  <h1><%= @quote.saying %></h1>
  <br/>
  <h2>- <%= @quote.author %></h2>
</div>
