
.slogan {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  padding-top:2em;
  font-size:1.5em;
}
.quote-container {
  font-family: 'Quicksand', sans-serif;
  h2 {
    font-weight: bold;
  }
}

.circle {
  font-family: 'Quicksand', sans-serif;
}


a {
  color: rgb(51,51,51);
  font-family:'Quicksand', sans-serif;
  font-weight:bold;
}
a:hover {
  color: rgb(51,51,51);
  border-bottom:2px solid rgb(51,51,51);
  text-decoration: none;
  cursor:pointer;
}
 //Regenerate link
 .more {
     font-size:1.3em;
     color: rgb(248,67,66);
 }
 .more:hover {
   color:rgb(248,67,66);
   border-bottom:2px solid rgb(248,67,66);
 }
